.userCard {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 15px;
  border: 1px solid green;
  padding: 10px;
  align-items: center;
}

.userImg {
  border-radius: 50%;
  object-fit: cover;
}

.nameContainer {
  display: flex;
  flex-direction: column;
}

.userName {
  font-size: 1.5rem;
}

.userAge {
  font-size: 1.1rem;
}

.deleteBtn {
  align-self: flex-start;

  background-color: rgb(235, 129, 129);
  border: none;
  color: white;
  border-radius: 50%;
}

.deleteBtn:hover {
  background-color: rgb(199, 48, 48);
  cursor: pointer;
}

.selectListItem {
  background-color: rgb(157, 102, 206);
  color:white;
}
